body {
  background-image: url("https://i.imgur.com/dmQKcT0.png");
  background-repeat: repeat;
  background-color: #f0ffff;
  padding: 0 30px 0 30px;
}

button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: #DC143C;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;

}
.yellowButton{
  background-color: #f6ff64;
}

.purpleButton{
  background-color: #b67cf8;
}

.pinkButton{
  background-color: #FFC0CB;
}

.cyanButton{
  background-color: #00FFFF;
}

.silverButton {
  background-color: black;
  color: white;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px;
}
